certifi
charset-normalizer
cycler
dateparser
et-xmlfile
fonttools
httmock
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
openpyxl
packaging
pandas
Pillow
prometheus-api-client
PyMySQL
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
regex
requests
six
tzdata
tzlocal
urllib3
xlwt
